html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Main page*/
body {
    background-color:lightcyan;
    text-align: center;
}

/* Title*/
#header {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    height: 50px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Button to submit */
#todo-submit {
    height: 40px;
    width: 40px;
}

#todo-submit:hover {
    cursor: pointer;
}

/* Individually made divs*/
.todo {
    display:flex;
    align-items: center;
    justify-content: center;
    color: darkblue;
    background-color: lightpink;
    width: 100%;
    max-width: 200px; /* Optional: Set a max width for each item */
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc; /* Border for todos */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    box-sizing: border-box; /* Ensure padding is included in width */
    cursor: move; /* Drag*/
}

/* Box to input text*/
#todo-input {
    height: 40px;
    margin-bottom: 30px;
}

/* Div parent container - holds all divs of list of to do items*/
#todo-list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr)); /* Change 3 to the number of columns you want */
    width: 100%;
    gap: 20px; /* Space between items */
    margin: 0 auto;
    position: relative;
}

/* A list of properties I used */
/*
    display: flex;
    justify-content: center;
    align-items: center;
    width
    height
    padding
    margin
    font-size
    color
    background-color
    background-image: url()
    border
    border-radius
    text-align: center;
    cursor: pointer;
  */